.animation-scroll-to-left {
    animation: scroll 30s linear 0s infinite none running;
}

.animation-scroll-to-right {
    animation: scroll 30s linear 0s infinite none reverse running;
}

@keyframes scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2050px, 0, 0);
    }
}

.box-shadow-animations {
    animation: shadow 1s linear 0s infinite none running;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 8px 0px #ffffff;
    }

    50% {
        box-shadow: 0px 0px 12px 4px #ffffff;
    }

    100% {
        box-shadow: 0px 0px 8px 0px #ffffff;
    }
}